.a101{
    position: relative !important;
    height:300px !important;
    width: 599% !important;
    z-index: 0 !important;   
    color: turquoise !important;
    background-color:whitesmoke;
}

.u92yl{
    position: relative !important;
    height:250px !important;
    margin-top:300px !important;
    margin-left: -599% !important;
    z-index: 1 !important;
}

.uFGEzd{
    display: none !important;
}


.VUk8eb .zCU1Sc{
    display: none !important;
}
